Models/*
AlignmentTools/efmaral-master/*
AlignmentTools/fast_align-master/*
AlignmentTools/symgiza-pp-master/*
Resources/corpus4giza/*
Resources/*
Scripts/__pycache__/*
Scripts/stemmers/__pycache__/*
last_run_log.txt
how_to_use_mGIZA_kavitha

!Resources/Names.csv
!Resources/Pronouns.csv
!Resources/Stopwords.csv
!Resources/TranslationWords.csv
!Models/
!AlignmentTools/